<div class="wrapper" (click)="onClick()">
  <div class="header">
    <div class="userInfo">
      <div class="name">
        <p class="firstName">First Name</p>
        <p class="lastName">Last Name</p>
      </div>
      <p class="logTime">Login Time</p>
    </div>
    <div class="loggedInfo">
      <p class="clicks">Clicks: {{ clickCount }}</p>
      <p class="chars">Characters: {{ charCount }}</p>
      <p class="chats">Chats opened: 0</p>
    </div>
    <div class="logout">
      <div class="logoutButton">Logout</div>
    </div>
  </div>
  <div class="body">
    <div class="left">
      <div *ngFor="let user of users" class="user" (click)="userClick()">
        {{ user.firstName }}
        {{ user.lastName }}
        <span class="mail">{{ user.email }}</span>
        <div class="userMore" *ngIf="userClicked == true">
          <div class="showDetail" (click)="changeUserId(user.id)">
            Show details
          </div>
          <div
            class="startChat"
            (click)="showChat = true; chatName = user.username"
          >
            Start chat
          </div>
        </div>
      </div>
    </div>
    <div class="mid">
      <div class="userDetails" *ngIf="detailShow == true">
        <div class="topPanel">
          <h3 class="details">Details</h3>
          <h6 class="closeDetails" (click)="closeDetail()">X</h6>
        </div>
        <div class="pfp">
          <img src="{{ userDetails.image }}" alt="avatar" />
        </div>
        <div class="info">
          <div class="labels">
            First Name:<br />Last Name:<br />Username:<br />Birthdate:<br />
            Eye Color:<br />
            University:<br />MAC Address:<br />IP Address:<br />City:<br />
          </div>
          <div class="data">
            {{ userDetails.firstName }}<br />
            {{ userDetails.lastName }}<br />
            {{ userDetails.username }}<br />
            {{ userDetails.birthDate }}<br />
            {{ userDetails.eyeColor }}<br />
            {{ userDetails.university }}<br />
            {{ userDetails.macAddress }}<br />
            {{ userDetails.ip }}<br />
            {{ userDetails.company.address.city }}<br />
          </div>
        </div>
        <div class="showMore">
          <button
            class="showData"
            (click)="getData()"
            *ngIf="showMoreData == false"
          >
            Show more
          </button>
          <div class="moreData" *ngIf="showMoreData == true">
            <div class="labels">Country:<br />Gender:</div>
            <div class="data">
              {{ zipData.country }}<br />{{ genderData.gender }}
            </div>
          </div>
          <button
            class="hideData"
            (click)="hideData()"
            *ngIf="showMoreData == true"
          >
            Hide
          </button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="chat" *ngIf="showChat == true">
        <div class="topPanel">
          <h3 class="name">{{ chatName }}</h3>
          <h6 class="closeChat" (click)="closeChat()">X</h6>
        </div>
        <div class="messages">
          <div class="message">{{responseText}}</div>
        </div>
        <div class="chatInput">
          <form class="chat" (ngSubmit)="handleSubmit($event)">
            <input
              placeholder="Message..."
              name="text"
              [(ngModel)]="text"
              class="search-field"
              (keyup)="handleKeyUp($event)"
              (input)="onChar($event)"
            />
            <button type="submit" class="search-button">
              <img src="../../../assets/images/send.svg" />
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
